USE [master]
GO
/****** Object:  Database [QuanLySuKien]    Script Date: 14/04/2026 1:56:59 PM ******/
CREATE DATABASE [QuanLySuKien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySuKien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLySuKien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySuKien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLySuKien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySuKien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySuKien]
GO
/****** Object:  Table [dbo].[LOAISUKIEN]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISUKIEN](
	[MALOAI] [nvarchar](20) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISUKIEN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDANGKY]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDANGKY](
	[MANDK] [nvarchar](20) NOT NULL,
	[TENNDK] [nvarchar](50) NULL,
	[NAMSINH] [date] NULL,
	[USERNAME] [nvarchar](30) NULL,
	[PASSWORD] [nvarchar](30) NULL,
 CONSTRAINT [PK_NGUOIDANGKY] PRIMARY KEY CLUSTERED 
(
	[MANDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATOCHUC]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATOCHUC](
	[MANHATOCHUC] [nvarchar](20) NOT NULL,
	[TENNHATOCHUC] [nvarchar](100) NULL,
	[THONGTINLIENHE] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHATOCHUC] PRIMARY KEY CLUSTERED 
(
	[MANHATOCHUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUKIEN]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUKIEN](
	[MASUKIEN] [nvarchar](20) NOT NULL,
	[MALOAI] [nvarchar](20) NOT NULL,
	[MANHATOCHUC] [nvarchar](20) NOT NULL,
	[TENSUKIEN] [nvarchar](100) NULL,
	[MOTASUKIEN] [nvarchar](255) NULL,
	[THOIGIANBATDAU] [datetime] NULL,
	[THOIGIANKETTHUC] [datetime] NULL,
	[SOLUONGTOIDA] [int] NULL,
	[DIADIEM] [nvarchar](100) NULL,
 CONSTRAINT [PK_SUKIEN] PRIMARY KEY CLUSTERED 
(
	[MASUKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMDU]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMDU](
	[MANTG] [nvarchar](20) NOT NULL,
	[MASUKIEN] [nvarchar](20) NOT NULL,
	[MANDK] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[NGAYDANGKY] [date] NULL,
 CONSTRAINT [PK_THAMDU] PRIMARY KEY CLUSTERED 
(
	[MANTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIDIEMCAPNHAT]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIDIEMCAPNHAT](
	[MASUKIEN] [nvarchar](20) NOT NULL,
	[MATRANGTHAISK] [nvarchar](20) NOT NULL,
	[THOIDIEMCAPNHAT] [datetime] NOT NULL,
 CONSTRAINT [PK_THOIDIEMCAPNHAT] PRIMARY KEY CLUSTERED 
(
	[MASUKIEN] ASC,
	[MATRANGTHAISK] ASC,
	[THOIDIEMCAPNHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAISUKIEN]    Script Date: 14/04/2026 1:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAISUKIEN](
	[MATRANGTHAISK] [nvarchar](20) NOT NULL,
	[MOTATTSK] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRANGTHAISUKIEN] PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAISK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAISUKIEN] ([MALOAI], [TENLOAI]) VALUES (N'L001', N'Hội thảo')
INSERT [dbo].[LOAISUKIEN] ([MALOAI], [TENLOAI]) VALUES (N'L002', N'Workshop')
INSERT [dbo].[LOAISUKIEN] ([MALOAI], [TENLOAI]) VALUES (N'L003', N'Thể thao')
GO
INSERT [dbo].[NGUOIDANGKY] ([MANDK], [TENNDK], [NAMSINH], [USERNAME], [PASSWORD]) VALUES (N'NDK001', N'Trương Quốc Huy', CAST(N'2010-04-01' AS Date), N'huy123', N'123456')
INSERT [dbo].[NGUOIDANGKY] ([MANDK], [TENNDK], [NAMSINH], [USERNAME], [PASSWORD]) VALUES (N'NDK002', N'Nguyễn Thị Ngọc Hân', CAST(N'2003-08-21' AS Date), N'han123', N'123456')
INSERT [dbo].[NGUOIDANGKY] ([MANDK], [TENNDK], [NAMSINH], [USERNAME], [PASSWORD]) VALUES (N'NDK003', N'Lý Khánh Trân', CAST(N'2002-11-10' AS Date), N'tran123', N'123456')
GO
INSERT [dbo].[NHATOCHUC] ([MANHATOCHUC], [TENNHATOCHUC], [THONGTINLIENHE]) VALUES (N'NTC001', N'Trung tâm Đào tạo', N'0909000001')
INSERT [dbo].[NHATOCHUC] ([MANHATOCHUC], [TENNHATOCHUC], [THONGTINLIENHE]) VALUES (N'NTC002', N'CLB Công nghệ', N'0909000002')
INSERT [dbo].[NHATOCHUC] ([MANHATOCHUC], [TENNHATOCHUC], [THONGTINLIENHE]) VALUES (N'NTC003', N'Đoàn Thanh niên', N'0909000003')
GO
INSERT [dbo].[SUKIEN] ([MASUKIEN], [MALOAI], [MANHATOCHUC], [TENSUKIEN], [MOTASUKIEN], [THOIGIANBATDAU], [THOIGIANKETTHUC], [SOLUONGTOIDA], [DIADIEM]) VALUES (N'SK001', N'L001', N'NTC002', N'Hội thảo AI', N'Ứng dụng AI trong doanh nghiệp', CAST(N'2026-04-20T08:00:00.000' AS DateTime), CAST(N'2026-04-20T11:00:00.000' AS DateTime), 100, N'Hội trường A')
INSERT [dbo].[SUKIEN] ([MASUKIEN], [MALOAI], [MANHATOCHUC], [TENSUKIEN], [MOTASUKIEN], [THOIGIANBATDAU], [THOIGIANKETTHUC], [SOLUONGTOIDA], [DIADIEM]) VALUES (N'SK002', N'L002', N'NTC001', N'Workshop Lập trình', N'Thực hành WinForms và SQL Server', CAST(N'2026-04-16T08:30:00.000' AS DateTime), CAST(N'2026-04-16T11:30:00.000' AS DateTime), 50, N'Phòng Lab 1')
INSERT [dbo].[SUKIEN] ([MASUKIEN], [MALOAI], [MANHATOCHUC], [TENSUKIEN], [MOTASUKIEN], [THOIGIANBATDAU], [THOIGIANKETTHUC], [SOLUONGTOIDA], [DIADIEM]) VALUES (N'SK003', N'L003', N'NTC003', N'Giải bóng đá', N'Thi đấu giao lưu sinh viên', CAST(N'2026-04-15T14:00:00.000' AS DateTime), CAST(N'2026-04-15T17:00:00.000' AS DateTime), 80, N'Sân vận động')
GO
INSERT [dbo].[THAMDU] ([MANTG], [MASUKIEN], [MANDK], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [NGAYDANGKY]) VALUES (N'NTG001', N'SK003', N'NDK001', N'Hoàng Nam', CAST(N'2000-09-09' AS Date), N'Nam', N'0999999991', N'nam1@gmail.com', CAST(N'2026-04-12' AS Date))
INSERT [dbo].[THAMDU] ([MANTG], [MASUKIEN], [MANDK], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [NGAYDANGKY]) VALUES (N'NTG002', N'SK003', N'NDK002', N'Ngọc Mai', CAST(N'2001-03-12' AS Date), N'Nữ', N'0999999992', N'mai@gmail.com', CAST(N'2026-04-12' AS Date))
INSERT [dbo].[THAMDU] ([MANTG], [MASUKIEN], [MANDK], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [NGAYDANGKY]) VALUES (N'NTG003', N'SK003', N'NDK003', N'Thanh Bình', CAST(N'1999-01-10' AS Date), N'Nam', N'0999999993', N'binh@gmail.com', CAST(N'2026-04-13' AS Date))
GO
INSERT [dbo].[THOIDIEMCAPNHAT] ([MASUKIEN], [MATRANGTHAISK], [THOIDIEMCAPNHAT]) VALUES (N'SK001', N'TT001', CAST(N'2026-04-15T08:00:00.000' AS DateTime))
INSERT [dbo].[THOIDIEMCAPNHAT] ([MASUKIEN], [MATRANGTHAISK], [THOIDIEMCAPNHAT]) VALUES (N'SK002', N'TT001', CAST(N'2026-04-15T08:00:00.000' AS DateTime))
INSERT [dbo].[THOIDIEMCAPNHAT] ([MASUKIEN], [MATRANGTHAISK], [THOIDIEMCAPNHAT]) VALUES (N'SK006', N'TT001', CAST(N'2026-04-15T08:00:00.000' AS DateTime))
GO
INSERT [dbo].[TRANGTHAISUKIEN] ([MATRANGTHAISK], [MOTATTSK]) VALUES (N'TT001', N'Sắp diễn ra')
INSERT [dbo].[TRANGTHAISUKIEN] ([MATRANGTHAISK], [MOTATTSK]) VALUES (N'TT002', N'Đang diễn ra')
INSERT [dbo].[TRANGTHAISUKIEN] ([MATRANGTHAISK], [MOTATTSK]) VALUES (N'TT003', N'Đã kết thúc')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DUOC_TO_CHUC_BOI_FK]    Script Date: 14/04/2026 1:57:00 PM ******/
CREATE NONCLUSTERED INDEX [DUOC_TO_CHUC_BOI_FK] ON [dbo].[SUKIEN]
(
	[MANHATOCHUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THUOC_FK]    Script Date: 14/04/2026 1:57:00 PM ******/
CREATE NONCLUSTERED INDEX [THUOC_FK] ON [dbo].[SUKIEN]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TAO_THONG_TIN_FK]    Script Date: 14/04/2026 1:57:00 PM ******/
CREATE NONCLUSTERED INDEX [TAO_THONG_TIN_FK] ON [dbo].[THAMDU]
(
	[MANDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THAM_GIA_FK]    Script Date: 14/04/2026 1:57:00 PM ******/
CREATE NONCLUSTERED INDEX [THAM_GIA_FK] ON [dbo].[THAMDU]
(
	[MASUKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CAPNHATTRANGTHAISUKIEN_FK]    Script Date: 14/04/2026 1:57:00 PM ******/
CREATE NONCLUSTERED INDEX [CAPNHATTRANGTHAISUKIEN_FK] ON [dbo].[THOIDIEMCAPNHAT]
(
	[MASUKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [GHINHANTRANGTHAISUKIEN_FK]    Script Date: 14/04/2026 1:57:00 PM ******/
CREATE NONCLUSTERED INDEX [GHINHANTRANGTHAISUKIEN_FK] ON [dbo].[THOIDIEMCAPNHAT]
(
	[MATRANGTHAISK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_SUKIEN_DUOC_TO_C_NHATOCHU] FOREIGN KEY([MANHATOCHUC])
REFERENCES [dbo].[NHATOCHUC] ([MANHATOCHUC])
GO
ALTER TABLE [dbo].[SUKIEN] CHECK CONSTRAINT [FK_SUKIEN_DUOC_TO_C_NHATOCHU]
GO
ALTER TABLE [dbo].[SUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_SUKIEN_THUOC_LOAISUKI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISUKIEN] ([MALOAI])
GO
ALTER TABLE [dbo].[SUKIEN] CHECK CONSTRAINT [FK_SUKIEN_THUOC_LOAISUKI]
GO
ALTER TABLE [dbo].[THAMDU]  WITH CHECK ADD  CONSTRAINT [FK_THAMDU_TAO_THONG_NGUOIDAN] FOREIGN KEY([MANDK])
REFERENCES [dbo].[NGUOIDANGKY] ([MANDK])
GO
ALTER TABLE [dbo].[THAMDU] CHECK CONSTRAINT [FK_THAMDU_TAO_THONG_NGUOIDAN]
GO
ALTER TABLE [dbo].[THAMDU]  WITH CHECK ADD  CONSTRAINT [FK_THAMDU_THAM_GIA_SUKIEN] FOREIGN KEY([MASUKIEN])
REFERENCES [dbo].[SUKIEN] ([MASUKIEN])
GO
ALTER TABLE [dbo].[THAMDU] CHECK CONSTRAINT [FK_THAMDU_THAM_GIA_SUKIEN]
GO
ALTER TABLE [dbo].[THOIDIEMCAPNHAT]  WITH CHECK ADD  CONSTRAINT [FK_THOIDIEM_CAPNHATTR_SUKIEN] FOREIGN KEY([MASUKIEN])
REFERENCES [dbo].[SUKIEN] ([MASUKIEN])
GO
ALTER TABLE [dbo].[THOIDIEMCAPNHAT] CHECK CONSTRAINT [FK_THOIDIEM_CAPNHATTR_SUKIEN]
GO
ALTER TABLE [dbo].[THOIDIEMCAPNHAT]  WITH CHECK ADD  CONSTRAINT [FK_THOIDIEM_GHINHANTR_TRANGTHA] FOREIGN KEY([MATRANGTHAISK])
REFERENCES [dbo].[TRANGTHAISUKIEN] ([MATRANGTHAISK])
GO
ALTER TABLE [dbo].[THOIDIEMCAPNHAT] CHECK CONSTRAINT [FK_THOIDIEM_GHINHANTR_TRANGTHA]
GO
USE [master]
GO
